<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${module == 'home' ? 'active' : ''}">
                    <a href="#" th:href="@{/}">Home</a>
                </li>
                <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                    <a href="#" th:href="@{/task}">Tasks</a>
                </li>
                <li th:classappend="${module == 'tasks-ld' ? 'active' : ''}">
                    <a href="#" th:href="@{/task-ld}">Tasks (Layout Dialect)</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                     <li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a> </li>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
</body>
</html>